@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";



:root {
    --gradient-1: linear-gradient(
        45deg,
        hsl(261deg 51% 69%) 0%,
        hsl(309deg 60% 69%) 8%,
        hsl(332deg 100% 75%) 16%,
        hsl(354deg 100% 76%) 24%,
        hsl(23deg 100% 70%) 32%,
        hsl(42deg 100% 60%) 40%,
        hsl(55deg 100% 50%) 48%,
        hsl(84deg 91% 66%) 56%,
        hsl(138deg 94% 71%) 64%,
        hsl(169deg 94% 52%) 73%,
        hsl(181deg 92% 51%) 81%,
        hsl(191deg 100% 71%) 90%,
        hsl(205deg 96% 82%) 100%
  );
}

.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20 rounded-xl shadow-lg;
}

.glass-lite {
  @apply bg-white/50 border border-white/20 rounded-xl drop-shadow-lg;
}

.blue-button {
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); 
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* adding this box style for a single Card */
.png-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 8px;
    /* optional, smooth corners */
    padding: 1rem;
    /* optional, spacing inside */
    display: inline-block;
    /* keeps box tight around content */
}